﻿<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



    <!-- Regular: #ab47bc Dark: #df78ef Light: #790e8b -->

    <style>
        html, body {
            margin: 0;
            width: 100%;
            font-family: 'Roboto', sans-serif;
        }

        .splash-container {
            width: 100%;
            height: 25em;
            background-color: #ab47bc;
            position: relative;
            text-align: center;
        }

            .splash-container .title {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
            }

                .splash-container .title img {
                    width: 200px;
                    height: 200px;
                    border: solid 3px white;
                    border-radius: 50%;
                    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                }

                .splash-container .title h1 {
                    margin-bottom: 3px;
                }

            .splash-container .subheading {
                margin: 0;
                font-size: 1.2em;
                text-transform: uppercase;
                color: #f1f1f1;
            }

            .splash-container .links {
                position: absolute;
                top: 0;
                right: 0;
                background-color: #df78ef;
                padding: 15px;
                border-radius: 0 0 0 4px;
            }

                .splash-container .links ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                }

                .splash-container .links li {
                    display: inline;
                    padding: 8px;
                }

            .splash-container .title a {
                text-decoration: none;
                color: white;
            }

                .splash-container .title a:hover {
                    text-decoration: none;
                    color: lightgray;
                }

            .splash-container .links li a, .splash-container .links li a:hover {
                text-decoration: none;
                color: black;
            }

                .splash-container .links li a:hover {
                    text-decoration: none;
                    color: white;
                }

        .gallery {
            text-align: center;
            margin-top: 40px;
        }

            .gallery .gallery-list {
                display: inline-block;
                max-width: 1600px;
                margin-bottom: 60px;
            }



            .gallery .gallery-images {
                display: inline-block;
                padding: 20px;
                margin: 3px;
                background-color: #dcdcdc;
            }

        .gallery-description {
            width: 290px;
            padding-bottom: 10px;
        }
            
        .gallery .one {
            text-align: right;
            padding-right: 10px;
            float: left
        }

        .gallery .two {
            text-align: left;
            padding-left: 10px;
            float: right;
        }

        .gallery-description p {
            margin-bottom: 0px;
        }

        .gallery .gallery-images .thumbnail {
            display: inline-block;
            object-fit: cover;
            width: 290px;
            height: 280px;
        }   

        .main-container {
            width: 100%;
        }

        .newsletter {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 100px;
        }
        .newsletter input, .newsletter label {
            margin-bottom: 20px;
        }

        .newsletter input {
            margin-right: 10px;
        }

    </style>
</head>
<body>

    <div class="splash-container">
        <div class="title">
            <a href="/Home/javascript">
                <img src="images/myAvatar.png" />
                <h1>James Glover</h1>
                <p class="subheading">Thanos was right</p>
            </a>
        </div>

            <div class="links">
                <ul>
                    <li>
                        <a href="//facebook.com" target="_blank">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//linkedin.com" target="_blank">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
    <div class="main-container">
        <div class="gallery">
            <div class="gallery-list">
                <div class="gallery-images">
                    <div class="gallery-description one">
                        <h2>Lorem Ipsum</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <img class="thumbnail" src="http://unionagency.one/modesto/img/thumbnail-64.jpg" />
                </div>
                <div class="gallery-images">
                    <img class="thumbnail" src="http://unionagency.one/modesto/img/thumbnail-65.jpg" />
                    <div class="gallery-description two">
                        <h2>Lorem Ipsum</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="gallery-images">
                    <div class="gallery-description one">
                        <h2>Lorem Ipsum</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <img class="thumbnail" src="http://unionagency.one/modesto/img/thumbnail-66.jpg" />
                </div>
                <div class="gallery-images">
                    <img class="thumbnail" src="http://unionagency.one/modesto/img/thumbnail-67.jpg" />
                    <div class="gallery-description two">
                        <h2>Lorem Ipsum</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <form action="http://localhost:8704/Api/values" method="get">
                    <label>Number</label>
                    <input type="number" id="num1" name="num1" />
                <input type="submit" />
            </form>
        </div>
    </div>
    
</body>
</html>