﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Hello World</h1>

    <button id="btnSubmit">
        Hello Header
    </button>
    <script>
        $(document).ready(function () {
            //    button click
            $("#btnSubmit").click(function () {
                $('h1').text('Hello Button');
            });
        });
    </script>
</body>
</html>