﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
body {
  font-family: 'Source Sans Pro';
  background: #29335C;
  background-size: cover;
}

.game {
  background-color: transparent;
  width: 402px;
  height: 402px;
  margin: 50px auto;
}

.game-field {
  width: 134px;
  height: 134px;
  display: block;
  float: left;
  color: #EAEAEA;
  font-size: 6.3em;
  padding: 1px 27px;
}

.win {
  color: #E4572E;
  transition: 200ms;
}

#first, #second, #third {
  border-bottom: 3px solid #525B76;
}

#second {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

#fourth, #fifth, #sixth {
  border-bottom: 3px solid #525B76;
}

#fifth {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

#eight {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

.modal-content {
  background-color: #EAEAEA;
}

.modal-header {
  background-color: #29335C;
  width: 100%;
  height: 100%;
  color: #EAEAEA;
}
.modal-header button {
  color: #EAEAEA;
}
.modal-header button:hover {
  color: #EAEAEA;
}
.modal-header h4 {
  font-size: 2.3em;
}

.modal-body {
  padding: 30px;
  margin: 10px 0;
  text-align: center;
}

.modal-footer {
  padding: 10px 80px 10px 0px;
}
.modal-footer button {
  background-color: white;
  color: black;
  width: 40%;
  font-size: 2em;
  transition: 500ms;
}
.modal-footer button:hover {
  background-color: #E4572E;
  color: white;
}

.signature {
  padding-top: 10px;
}
    </style>
</head>
<body>
    <div class="container">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Tic Tac Toe Game</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Welcome to the Tic Tac Toe Game!</h3>
                        <p>It’s time to choose your figure.</p>
                        <p id="test"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="x" class="btn" data-dismiss="modal" onClick="setFig(this.id)"><span class="fa fa-times"><span></button>
                        <button type="button" id="o" class="btn" data-dismiss="modal" onClick="setFig(this.id)"><span class="fa fa-circle-o"><span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="game">
            <div id="first" onClick="icon(this.id)" class="game-field"></div>
            <div id="second" onClick="icon(this.id)" class="game-field"></div>
            <div id="third" onClick="icon(this.id)" class="game-field"></div>
            <div id="fourth" onClick="icon(this.id)" class="game-field"></div>
            <div id="fifth" onClick="icon(this.id)" class="game-field"></div>
            <div id="sixth" onClick="icon(this.id)" class="game-field"></div>
            <div id="seventh" onClick="icon(this.id)" class="game-field"></div>
            <div id="eight" onClick="icon(this.id)" class="game-field"></div>
            <div id="nineth" onClick="icon(this.id)" class="game-field"></div>
        </div>

    </div>

    <script>

        var game = {
            user: '',
            computer: '',
            currentPlayer: '',
            moves: 1,
        };

        function setFig(id) {
            if (id === 'x') {
                game.user = '<span class="fa fa-times"></span>';
                game.computer = '<span class="fa fa-circle-o"></span>';
            } else if (id === 'o') {
                game.user = '<span class="fa fa-circle-o"></span>';
                game.computer = '<span class="fa fa-times"></span>';
            }
            firstMove();
            setCurrPl('user');
        }

        function firstMove() {
            $('#fifth').html(game.computer);
            $('#fifth').removeAttr('onClick');
        }

        function setCurrPl(curr) {
            game.currentPlayer = curr;
        }

        function icon(id) {
            if (game.currentPlayer == 'user') {
                $('#' + id).html(game.user);
                $('#' + id).removeAttr('onClick');
                gameStatus();
                setCurrPl('computer');
            } else if (game.currentPlayer == 'computer') {
                $('#' + id).html(game.computer);
                $('#' + id).removeAttr('onClick');
                gameStatus();
                setCurrPl('user');
            }
            game.moves++;
            draw();

            if (game.currentPlayer == 'computer') {
                comp();
            }
        }

        function comp() {
            switch (true) {
                case $('#first').html() != game.user && $('#first').html() != game.computer:
                    icon('first');
                    break;
                case $('#second').html() !== game.user && $('#second').html() !== game.computer:
                    icon('second');
                    break;
                case $('#third').html() !== game.user && $('#third').html() !== game.computer:
                    icon('third');
                    break;
                case $('#fourth').html() !== game.user && $('#fourth').html() !== game.computer:
                    icon('fourth');
                    break;
                case $('#fifth').html() !== game.user && $('#fifth').html() !== game.computer:
                    icon('fifth');
                    break;
                case $('#sixth').html() !== game.user && $('#sixth').html() !== game.computer:
                    icon('sixth');
                    break;
                case $('#seventh').html() !== game.user && $('#seventh').html() !== game.computer:
                    icon('seventh');
                    break;
                case $('#eight').html() !== game.user && $('#eight').html() !== game.computer:
                    icon('eight');
                    break;
                case $('nineth').html() !== game.user && $('#nineth').html() !== game.computer:
                    icon('nineth');
                    break;
            }
        };

        function gameStatus() {
            var curPlayer;

            if (game.currentPlayer == 'user') {
                curPlayer = game.user;
            } else if (game.currentPlayer == 'computer') {
                curPlayer = game.computer;
            }

            switch (true) {
                case $('#first').html() === curPlayer && $('#second').html() === curPlayer &&
                    $('#third').html() === curPlayer:
                    show('#first', '#second', '#third');
                    break;
                case $('#fourth').html() === curPlayer && $('#fifth').html() === curPlayer &&
                    $('#sixth').html() === curPlayer:
                    show('#fourth', '#fifth', '#sixth');
                    break;
                case $('#seventh').html() === curPlayer && $('#eight').html() === curPlayer &&
                    $('#nineth').html() === curPlayer:
                    show('#seventh', '#eight', '#nineth');
                    break;
                case $('#first').html() === curPlayer && $('#fourth').html() === curPlayer &&
                    $('#seventh').html() === curPlayer:
                    show('#first', '#fourth', '#seventh');
                    break;
                case $('#second').html() === curPlayer && $('#fifth').html() === curPlayer &&
                    $('#eight').html() === curPlayer:
                    show('#second', '#fifth', '#eight');
                    break;
                case $('#third').html() === curPlayer && $('#sixth').html() === curPlayer &&
                    $('#nineth').html() === curPlayer:
                    show('#third', '#sixth', '#nineth');
                    break;
                case $('#first').html() === curPlayer && $('#fifth').html() === curPlayer &&
                    $('#nineth').html() === curPlayer:
                    show('#first', '#fifth', '#nineth');
                    break;
                case $('#third').html() === curPlayer && $('#fifth').html() === curPlayer &&
                    $('#seventh').html() === curPlayer:
                    show('#third', '#fifth', '#seventh');
                    break;
                default:
                    draw();
            }
        };

        function show(x, y, z) {
            var x = $(x),
                y = $(y),
                z = $(z);
            x.addClass('win');
            y.addClass('win');
            z.addClass('win');
            lockAll();
            setTimeout(reset, 1500);
        }

        function reset() {
            $('.game-field').html('');
            game.moves = 1;
            $('.game-field').attr('onClick', 'icon(this.id)');
            $('.win').removeClass('win');
            setTimeout(firstMove, 200);
        }

    </script>
</body>
</html>